alias c=claude
alias n=nvim
alias npm=pnpm
alias npx=pnpx
alias ts="/Applications/Tailscale.app/Contents/MacOS/Tailscale"
alias tf=terraform
alias venv="source .venv/bin/activate"
alias y=yazi

## cd shortcuts
alias cda="cd ~/ws/a"
alias cdf="cd ~/ws/f"
alias cdp="cd ~/ws/p"
alias cdd="cd ~/ws/p/dotfiles"

